<p align="center">
  search works!
</p>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form class=" input-group" (submit)="onSearch()">
      <input  class="form-control" id="searchterm" [(ngModel)]="queryterm" (submit)="onSearch()" [ngModelOptions]="{standalone: true}">
      <button id="searchbutton" class="btn btn-outline-secondary" (click)="onSearch()"> Search </button>
    </form>
  </div>
  <div class="col-md-4"></div>

</div>


<div id="search_results">
  <p id="tracks_dne" *ngIf="trackSearchResults == null"> No Tracks Found </p>
  <ng-container id ="trackslist" *ngIf="trackSearchResults">
    <p id="list"></p>
    <div class="track_container" *ngFor="let t of trackSearchResults.items">
      <button class="add_track_button" (click)="onAddTrack(t)"> + </button>
      <p class="track_text">{{t.name}} </p>

    </div>
  </ng-container>

</div>
<p>Queryterm: {{queryterm}}</p>
<!--<button (click)="displayTrack()"> Display Track</button>-->


<ul>
  <li class="text" *ngFor="let item of tracksFromFirestore | async">
    {{item.name}}
  </li>
</ul>
