<p align="center">
  radio works!
</p>
<input [(ngModel)]="queryterm"/>
<button (click)="onSearch()"> Search </button>
<div id="search_results">
  <p id="tracks_dne" *ngIf="trackSearchResults == null"> No Tracks Found </p>
  <ng-container *ngIf="trackSearchResults">
    <p> </p>
    <div class="track_container" *ngFor="let t of trackSearchResults.items">
      <button class="add_track_button" (click)="onAddTrack(t)"> + </button>
      <p class="track_text"> {{ t | tracklistparsepipe }} </p>
      <!--<p>Url: {{updateTrackUrl(t)}}{{t.url}}</p>-->
      <!--<iframe *ngIf="t.url" [src]="t.url"  width="250" height="80" frameborder="0" allowtransparency="true"></iframe>-->
    </div>
  </ng-container>
  <!--https://open.spotify.com/embed?uri=spotify:user:-->
</div>
<p>Queryterm: {{queryterm}}</p>
<!--<button (click)="displayTrack()"> Display Track</button>-->
