
nav {
  background-color: #005b7c;
  /* color: rgb(0,0,0)rgb(69, 75, 84); */
  color: #efefee;
}
.mynav {
  color: #efefee;
}

#app_title {
  color: #721a45;
  font-weight: bold;
  padding-top: .4em;

}


