
<p align="center">
  home works!
</p>
<button (click)="onClick()"> click me</button>
<button (click)="displayTrack()"> Display Track</button>

<div id="tracks_list">
  <div class="track_container" *ngIf="track">
    <ng-container>{{track.name}}</ng-container>
    <ng-container *ngIf="track.artists">
      <ng-container *ngFor="let artist of track.artists"> - {{artist['name']}}</ng-container>
    </ng-container>
    <ng-container *ngIf="track.available_markets">
      <li *ngFor="let market of track.available_markets"> {{market}}</li>
    </ng-container>
  </div>
</div>
